nav {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 15px;
  opacity: 0.9;

  ul {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background: #f3f3f3;
    border-radius: 8px;

    li {
      list-style-type: none;
      padding: 10px;

      a {
        padding: 5px;
      }

      a:hover {
        cursor: pointer;
      }
    }
  }
}
