.space-background {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.timer {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px 30px;
  font-size: 48px;
  font-weight: bold;
  text-align: right;
  color: white;
}

.marvin {
  position: absolute;
  opacity: 0.0;
  max-height: 20%;
  z-index: 99;
}

.marvin:hover {
  opacity: 1.0;
  cursor: pointer;
}


.disintegrate {
  -webkit-animation: disintegrate 3s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  animation: disintegrate 3s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

@-webkit-keyframes disintegrate {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}
@keyframes disintegrate {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}

