<div class="space-background" [ngStyle]="{'background': 'url('+imageUrl+') no-repeat center center fixed'}">
  <div class="timer" *ngIf="gameStarted">{{timeLeft+1}}</div>
  <app-info-box (resetGameEvent)="stopPlaying()" (startGameEvent)="startGame()" [gameStarted]="gameStarted" [title]="messageBoxTitle" [message]="messageBoxContent"></app-info-box>
  <img *ngIf="gameStarted || playerWon || playerLost" (click)="playerFoundMarvin()" class="marvin" [ngClass]="{'marvin': true, 'disintegrate': playerWon}" src="assets/marvin2.png" [ngStyle]="{'top': marvinYAxis+'%', 'left': marvinXAxis+'%'}"/>
</div>


