<div [ngClass]="{'gameInfo':true, 'slide-out-to-left': gameStarted, 'slide-in-from-right': !gameStarted}">
  <h3>{{title}}</h3>
  <p>{{message}}</p>
  <div class="btn-wrapper">
    <button (click)="emitStartGameEvent()" class="play-game-button">Play</button>
    <button *ngIf="title !== 'Disintegrate Marvin!'" (click)="emitResetGameEvent()" class="play-game-button">Stop</button>
  </div>
</div>
