
.gameInfo {
  position: relative;
  display: block;
  background: #f3f3f3;
  border-radius: 8px;
  color: #000;
  opacity: 0.7;
  margin: 0px 15px 10px;
  top: 70px;
  padding: 10px;

  z-index: 100;

  max-width: 30%;

  .btn-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;

    .play-game-button {
      display: block;
      padding:10px;
      border-radius: 8px;
      background: white;
      font-size: 18px;
      margin-right: 10px;
    }

    .play-game-button:hover {
      background: lightgreen;
    }
  }
}

.slide-in-from-right {
  -webkit-animation: slide-in-right 1s both;
  animation: slide-in-right 1s both;
}

@-webkit-keyframes slide-in-right {
  0% {
    display: block;
    left: -5px;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    left: 0px;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.slide-out-to-left {
  -webkit-animation: slide-out-left 1s both;
  animation: slide-out-left 1s both;
  pointer-events: none;
}

@-webkit-keyframes slide-out-left {
  0% {
    left: 0px;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    left: -5px;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
    display: none;
  }
}
