<div class="card">
  <h2>Warner Bros. Code Challenge</h2>
  <p class="introduction">Thanks for taking the time to consider my code submission. I wanted to list out a few details that simply looking at code might not make apparent.</p>
</div>
<div class="card">
  <h2>API Usage</h2>
  <p>The API being utilized to satisfy the requirements of this project is the NASA API for getting the Astronomy Picture of the Day (APOD).</p>
  <p>The API is being used to give a space background for the Find Marvin game.</p>
  <p>Marvin the Martian is my favorite of the Looney Tunes characters. I always enjoyed the cartoons he was featured in. I hope you have fun while playing the game.</p>
</div>
<div class="card">
  <h2>Angular 8</h2>
  <p>I utilized Angular 8 for the development of this app. The codebase has a smattering of various javascript skills of mine. A few examples include:</p>
  <ul>
    <li>HTTP communication with a back-end API</li>
    <li>Using Angular Directives to manipulate styles from code.</li>
    <li>Unit testing Angular components and services.</li>
    <li>SCSS styling as well as standard CSS.</li>
    <li>Angular routing and navigation.</li>
    <li>Parent/child component communication (data binding and event emitting).</li>
  </ul>
</div>
<div class="card">
  <h2>What's Missing</h2>
  <h4>Error Handling</h4>
  <p>This is a quick project with a narrow scope; namely furthering the interview process. Usually, I build into back-end APIs a separate endpoint for accepting error/exception messages from the front-end. I then suppress the default error handler in Angular with a custom-made one that both logs errors to the console (when not in production) and simultaneously sends the error data to the back-end API to be logged on the server. Since I don't own the NASA API and can't add my own endpoints to it, I have made the conscious decision to forgo thoroughly and rigorously handling exceptions and errors. This is only due to the limit scope of the project however and is <span class="emphasis">not</span> a common practice in my code.</p>
  <h4>Caching</h4>
  <p>Depending on the project's requirements, sometimes caching a request and responses could be useful. For example, in this project given that the randomized date could create a duplicate request (in the case where the same date is randomly generated twice) it could be more economical and efficient to store the requests/responses in some kind of data structure. This structure would then be checked for each date by an Angular Interceptor before the request is made to the server. I have consciously forgone going through this process in the interests of avoiding micro-optimization on a project with such a limited scope.</p>
  <h4>Responsive Design</h4>
  <p>The nature of the game is such that it really only lends itself to computers with a mouse attached. For this reason, and for the reason that it isn't a production application, I have forgone adding media queries necessary to make the game work on phones and tablets.</p>
</div>
